# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# nest
dist/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
logs/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
.eslintcache

# uploads (local dev only, real storage is S3)
apps/api/uploads/

# prisma
apps/api/prisma/dev.db
